{
  "trailingComma": "all",
  "printWidth": 120,
  "semi": true,
  "singleQuote": false,
  "jsxBracketSameLine": true,
  "tabWidth": 2,
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
