{
  "trailingComma": "all",
  "printWidth": 120,
  "semi": true,
  "singleQuote": false,
  "jsxBracketSameLine": true,
  "tabWidth": 2,
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "tabWidth": 2
      }
    },
    {
      "files": "*.sol",
      "options": {
        "printWidth": 80,
        "tabWidth": 4,
        "useTabs": false,
        "singleQuote": false,
        "bracketSpacing": false,
        "explicitTypes": "always"
      }
    }
  ]
}
